<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css" type="text/css">
  <title><%= title %></title>
</head>
<body>
  <h1> <%= title %></h1>
  <div class="uma-board">
  <% if(locals.umamusume) { %>
    <% for(let i = 0; i < umamusume.length; i++) { %>
      <div class="uma-card">
        <div class="uma-info"> <%- include("./partials/uma", {uma: umamusume[i]}) %></div>
        <div class="uma-card-buttons">
        <form action="/expand" method="POST">
          <input type="hidden" name="umaInfo" value="<%= umamusume[i].uma_id %>">
          <input type="hidden" name="trainer" value ="<%= umamusume[i].trainer %>"> 
          <input type="hidden" name="victories" value ="<%= umamusume[i].victories %>">
          <input type="hidden" name="stats" value ="<%= umamusume[i].uma_stats %>">
          <button type="submit" class="expand-button">expand</button>
        </form>
        <form action="/delete" method="POST">
          <input type="hidden" name="trainer" value ="<%= umamusume[i].trainer %>">
          <input type="hidden" name="uma_id" value ="<%= umamusume[i].uma_id %>">
          <button type="submit" class="delete-button">delete</button>
        </form>
        </div>
      </div>
    <% } %>
    
  <% } %>
  </div>
  
  <a href="/enroll">Enroll Your Uma</a>
  <form action="/searchByTrainer" method="POST">
    <label for="trainer">Trainer: </label>
    <input type="text" id="trainer" name="trainer"/>
    <button type="submit">Search</button>
  </form>
  
</body>
</html>