<h3> <%= uma.name %> </h3>
<img src="<%= uma.src%>">
<div><%= uma.profile %> </div>
<form action="/train" method="POST">
  <input type="hidden" name="trainer" value="<%= trainer %>">
  <input type="hidden" name="uma_id" value="<%= uma.id %>">
  <button type="submit">Train</button>
</form>
<audio src="<%= uma.audio %>" autoplay>

